img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page__body {
  height: 100%;
  font-size: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  line-height: 27px;
  margin: 0 auto;
  width: 320px;
}

.main-page {
  background-color: #E5E5E5;
}

@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
}
@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
}
.tickets__sort {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  margin-left: 30px;
}

.sort__button {
  background-color: #ffffff;
  border: none;
  width: 260px;
  height: 50px;
  color: #151515;
  border-radius: 5px;
  font-family: "Arial", sans-serif;
}

.sort__button--current {
  background-color: #656293;
  color: #ffffff;
}

.tickets__list {
  list-style: none;
  margin: 20px 30px 0 30px;
  padding: 0;
  width: 260px;
}

.tickets__item {
  background-color: #ffffff;
  border-radius: 5px;
}

.tickets_info,
.option__transfer {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.option__transfer {
  margin: 0;
  padding-bottom: 10px;
}

.transfer__number {
  margin-left: 10px;
}

.transfer__city {
  margin-right: 10px;
  color: #656293;
}

.tickets__option {
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.tickets__airline {
  width: 120px;
  height: 40px;
  margin: 5px 0 0 5px;
}

.tickets__price {
  padding: 10px 5px 0 0;
  color: #656293;
  font-weight: bold;
}

.option__depature {
  margin-left: 10px;
}

.depature__direction,
.arrival__direction {
  color: #151515;
  font-weight: bold;
}

.depature__time,
.arrival__time {
  color: #656293;
}

.option__time {
  font-size: 12px;
  margin: 0;
  text-transform: none;
  color: #A9A9AA;
}

.time__image {
  position: relative;
  top: 15px;
  left: 23px;
}

.time__title {
  position: relative;
  top: 7px;
  text-align: center;
}

.option__arrival {
  text-align: right;
  margin-right: 10px;
}

.form {
  background-color: #ffffff;
  border-radius: 5px;
  width: 260px;
  margin-left: 30px;
  margin-bottom: 15px;
}

.form__legend {
  text-align: center;
  color: #151515;
  padding-top: 20px;
  margin-bottom: 20px;
  color: #656293;
  font-weight: bold;
}

.form__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 200px;
  padding-bottom: 10px;
}

.control__lead {
  display: grid;
  grid-template-columns: 30px 1fr;
  gap: 22px;
  margin-bottom: 20px;
}

.control__input {
  position: absolute;
  opacity: 0;
}

.control__lead::before {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  width: 35px;
  height: 35px;
  border: 2px solid #E5E5E5;
  border-radius: 1px;
  background-color: #fff;
  grid-column: 1/2;
  grid-row: 1/2;
}

.control__lead::after {
  content: " ";
  display: none;
  width: 35px;
  height: 35px;
  display: inline-block;
  box-sizing: border-box;
  grid-column: 1/2;
  grid-row: 1/2;
}

.control-input:checked + .control-lead::after {
  display: block;
}

.control--checkbox .control__input:checked + .control__lead::after {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../img/tick.svg");
  z-index: 2;
}

.pop-up-flight {
  background-color: #fff;
  margin-top: 20px;
  width: 290px;
  margin-left: 15px;
  border-radius: 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.flight__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.flight__item {
  display: flex;
  justify-content: space-between;
}

.item__title {
  color: #151515;
  margin-left: 10px;
}

.item__description {
  color: #656293;
  margin-right: 10px;
}

.flight__image {
  margin: 0 auto;
  margin-top: 10px;
}

.flight__button,
.booking__button {
  border: none;
  width: 260px;
  height: 40px;
  border-radius: 5px;
  font-family: "Arial", sans-serif;
  background-color: #656293;
  color: #ffffff;
  margin: 10px 15px;
}

.booking {
  background-color: #fff;
  margin-top: 20px;
  width: 270px;
  border-radius: 5px;
  margin-left: 15px;
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px 10px;
  color: #656293;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.booking__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.booking__input-name {
  width: 206px;
}

.booking__label-second-name > .booking__input {
  width: 162px;
}

.booking__label-passport > .booking__input {
  width: 171px;
}

.booking__button {
  margin: 10px 10px 0 10px;
  width: 250px;
}
/*# sourceMappingURL=style.css.map */