$font-heading: "Oswald", "Arial", sans-serif;
$font-body: "Arial", sans-serif;

$color-black: #000000;
$color-light-black: #151515;
$color-white: #ffffff;
$color-grey: #E5E5E5;
$color-light-grey: #A9A9AA;
$color-lilac: #656293;


$width-desktop-large: 1920px;
$width-desktop-medium: 1366px;
$width-desktop-small: 1024px;
$width-tablet: 768px;
$width-mobile: 320px;

